# transformers 
# datasets 
# jinja2
# trl
# git+https://github.com/wmayner/pyphi.git@feature/iit-4.0
# peft 
# scikit-learn
# tensorboard
# torch-tb-profiler [PyTorch Profiler TensorBoard Plugin]
# bitsandbytes 
# deepspeed
# math-verify